.rw-widget-container{
    border: 1px;

	position: float
}

.rw-dropdown-list{
	
}


.rw-dropdown-list-input{
	color:black
}

.rw-popup-container{
	height:400
}

.rw-slide-transition-exited{
		height:400
}