
.elementbar {
	margin:10px;
	margin-bottom:10px;
	padding: 10;
	width: 700px;
	background-color: #676767;
	color: #ffffff;
	position: float;
	height: 70px;
	overflow: auto;
	
}

.elementbarText {
	color: red;
	text-align: center;
	
}

.elementbarButton {
	margin-top: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #161924 , #282c34);
	position: float;
}


.elementbarButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.elementbarButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.elementbarButton:hover span {
  padding-right: 25px;
}

.elementbarButton:hover span:after {
  opacity: 1;
  right: 0;
}
